<!-- <message-component></message-component> -->
<!-- <div message-component>

</div> -->

<div class="message-component">

</div>

<!-- Component Answers -->

<!--
  A component consists of a selector, a template, and styles.

When you import Component from the core it knows it’s a special component.

The CLI to create a new component “git g c nameofcomponent”.

You can select a component by giving it it’s default tag implementation, by class, or by attribute.

You can link to a external template with templateUrl or make it inline with just template.

You can link to a external styles with styleUrl or make it inline with just style, but styles
are always in an array.
-->
