<!-- Class Questions -->

<!--
A class, in typescript, is an outline of reusable properties, arrays, methods, and constructors that is often in the top
of the typescript file and it’s used to create new things from it.

A class can contain things such as properties, arrays, methods, constructors, and objects.

Class inheritance is a child of the class will have the same properties as the class it was made from.

A subclass is the child of the class and a super class refers to the parent of the class.

Public means it’s available throughout the file while private is a bit like a parameter, it exist only within the certain
area you put it in. Protected is like private but the child of whatever contains it also has access to it.

Console Log won't work when it's set to private because the child doesn't have access to the property

If set to protected it does work because it works with inheratince
-->
